@model IEnumerable<Web.Models.Tab>
@using Web.Extensions;

@{
    ViewBag.Title = ViewBag.BookName + " - A4tab.net"; ;
}

<h1>@ViewBag.BookName</h1>
<h4>
    @TempData[Web.Infrastructure.Constants.TempDataMessage]
</h4>

<div class="alltabs">
    <ul data-role="listview" data-inset="true" data-filter="true">
@{
    string startChar = ".";
    
    foreach (var song in Model)
    {
        @Html.UniqueStartChar(song.Artist, ref startChar);
        
        <li>
             @Html.ActionLink(song.Artist + " - " + song.Name, "Details", "Songs", new { id = song.Id }, null)
        </li>
    }
}
    </ul>
</div>