@model IEnumerable<Web.ViewModels.Artist>
@using Web.Extensions

@{
    ViewBag.Title = "All Artists";
}

<h1>All Artists</h1>
<h4>
    @TempData[Web.Infrastructure.Constants.TempDataMessage]
</h4>

<div class="alltabs">

    <ul data-role="listview" data-inset="true" data-filter="true">
@{    
    string startChar = ".";

    foreach (var item in Model)
    {
        @Html.UniqueStartChar(item.ArtistName, ref startChar)
        <li>
            @{var label = string.Format("{0} ({1} {2})", item.ArtistName, item.TabCount, MyHelpers.Pluralize("tab", item.TabCount)); }
            @Html.ActionLink(label, "Details", new { id = item.ArtistName })
        </li>
    }
}
    </ul>
</div>
<p>
    @Html.ActionLink("Browse all tabs", "Index", "Songs")
</p>
